In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('db.csv', index_col=['date'])

In [6]:
data

,time,situation,thoughts,emotional_response,physical_response,actions,result,facts,alternative_thoughts
date,,,,,,,,,
2020-07-25,21:55,"Playing Overwatch with Bar, After sitting with...",NaN,NaN,"Stomach cramps, Feeling in my cheeks, Lips fee...",NaN,Passed after a short while of playing Overwatch,NaN,NaN